---
import type { GetStaticPaths } from "astro";

import MainLayout from "../../layouts/main-layout.astro";
import PokeGridSection from "../../sections/poke-grid-section.astro";
import Paginator from "../../components/paginator.astro";
import type { PokeApiReponse } from "../../interfaces/pokemon-response.interface";
import NavBar from "../../components/nav-bar.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const url = "https://pokeapi.co/api/v2/pokemon?limit=151";
  const response = await fetch(url);
  const { results } = (await response.json()) as PokeApiReponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<MainLayout title="Pokemon | List">
  <div class="container">
    <NavBar />
  </div>
  <PokeGridSection data={page.data} />
  <Paginator
    lastPage={page.lastPage}
    currentPage={page.currentPage}
    next={page.url.next}
    prev={page.url.prev}
  />
</MainLayout>
